.slider {
  position: relative;
  width: 100%;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.slider-images {
  display: flex;
  overflow: hidden;
}

.slide {
  flex: 0 0 50%;
  transition: transform 0.5s ease;
}

.slide.active {
  transform: translate3d(500px);
}