.btn-5 {
  // width: 130px;

  line-height: 42px;
  padding: 0;
  border: none;
  position: relative;
  transition: ease-out 0.3s;
  border: 1px solid #04fc47 !important;

  &:hover {
    background: #04fc47;
  }
}

@media (hover: hover) {
  .btn-5:hover {
    background: #04fc47;
  }
}
