.about1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding-bottom: 250px;

  .about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    height: 300px;
    background: #fff;
    width: 80%;
    border-radius: 15px;
    color: #222;
    padding: 10px 20px;
    -webkit-box-shadow: 8px 8px 5px 2px rgba(34, 60, 80, 0.23);
    -moz-box-shadow: 8px 8px 5px 2px rgba(34, 60, 80, 0.23);
    box-shadow: 8px 8px 5px 2px rgba(34, 60, 80, 0.23);
    position: absolute;
    z-index: 10;
    bottom: -180px;
    padding-top: 50px;
    padding-bottom: 50px;
    div:nth-child(2) {
      width: 70%;
      text-align: center;

      p {
        margin-top: 17px;
      }
    }

    .title {
      font-size: 48px;
      font-weight: bold;
      line-height: 60px;
    }
  }
}
