.mainPage {
  max-width: 2250px;
  display: flex;
  min-height: 100vh;
  padding-top: 27px;
  padding-bottom: 101px;
  padding-left: 127px;
  line-height: 100px;
  position: relative;
  overflow: hidden;
  // background: url(/Main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #585858;
  z-index: 2;

  .title {
    line-height: normal;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    .mainTitle {
      display: flex;
      margin-top: 80px;
    }
    color: white;
    margin-top: 0px !important;
    font-family: "Swis721 Win95BT" sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 25px;
    span:nth-child(1) {
      color: #04fc47;
      font-size: 47px;
    }
    .fz {
      color: white;
    }
    p {
      font-size: 47px;
    }
  }
  .subtitle {
    margin-top: 25px;
    line-height: 41px;
    font-weight: 700;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #f2f2f2;
  }
}