.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 55;
  background-color: black;
  overflow: hidden;
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  .preloader {
    video {
      height: 100vh;
      object-fit: contain;
    }
  }
}
